@use "../abstracts" as *;

.navbar {
  background: $bg-nav;
  border-bottom: 1px solid $border-color;

  &__container {
    max-width: 1300px;
    margin: auto;
    padding: 1.2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__links {
    display: flex;
    gap: 2rem;

    a {
      color: $text-muted;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 0.85rem;
      letter-spacing: 1px;
      transition: $transition;

      &:hover {
        color: $primary;
      }
    }
  }

  .logo-box {
    border: 2px solid $primary;
    color: $primary;
  }

  .search-input {
    background: transparent;
    border: 1px solid $border-color;
    padding: 0.5rem 1rem;
    border-radius: $radius;
    color: $text-light;
  }
}